<h4>
  Internal Server Error - Refreshing the page will make the error go away.
</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error - {{ error.message }}</h5>
  <p class="font-weight-bold">
    If you are seeing this than Angular is not to be blamed.
  </p>
  <p>What to do next?</p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect the network tab</li>
    <li>check for a failing request</li>
    <li>Examine the request URL - make sure it is correct</li>
    <li>
      Reproduce the error in postman - If we see the same response then angular
      is not the problem.
    </li>
  </ol>
  <p>
    Following is the stack trace - This is where your investigation should start
  </p>
  <code class="mt-5" style="background-color: whitesmoke">{{
    error.details
  }}</code>
</ng-container>
